header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 15px;

  .logo {
    height: 40vmin;
    pointer-events: none;
  }

  .title {
    margin-bottom: 10px;
  }

  span.loading {
    font-size: small;
    animation: fadeOut infinite 0.5s ease-in-out;
  }

  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: spin infinite 20s linear;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .logo.loading {
      animation: spin infinite 1s ease-in-out;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
