li.todo-item {
    list-style-type: none;
    margin-top: 7px;
    padding-bottom: 3px;
    background: #f3f3f3;
    padding:10px;

    .text {
        line-height: 100%;
        text-align: center;
    }

    button {
        border: 1px solid;
        background: none;
        font-size: larger;
        border-radius: 4px;
        margin: 0 5px;

        &.complete{
            content: '\2713';
            color: #aaaaaa;
            font-weight: bolder;  
            
            &:hover{
                background-color: #c9f7aa;
            }
        }
    
        &.remove {
            content: '\1F5D1';
            color:#ad2800;
            float: right;
            font-size: xx-large;
            padding: 0;
            border: none;

            &:hover{
                
                color: red;
            }
        }
    }

    &.completed {     
        span.text {
            color: green;
            text-decoration-line: line-through;
        }
        
        button.complete {
            color: green;            
        }
    }
    
}