.App {
  text-align: center;  
}

a, a:visited {
  color: #61dafb;
}

input {
  border: 1px solid #333333;
  font-size: medium;
  padding: 5px 10px;
}

button {
  font-size: medium;
  padding: 5px 10px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}